{% extends 'base.html'%}
{% load static %}

{% block meta %}
<title>BaBaDu | LOGIN </title>

{% endblock meta %}

{% block content %}

<main>
    <section class="container-fluid p-2 text-center ">
        <div class="vh-100 d-flex justify-content-center align-items-center">
            <div class="col-md-4 p-5 shadow-sm border rounded-5 border-primary">
                <h1 class="text-center mb-4 text-primary">BABADU - 9</h1>
                <div class="container-fluid">
                    <div class="row my-3">
                        <a type="button" class="btn btn-outline-primary" href="login/">Login</a>
                    </div>
                    <div class="row my-3">
                        <a type="button" class="btn btn-outline-primary"  href="register/">Register</a>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- Pills navs -->

        <!-- Pills navs -->

    </section>
</main>
<style>

</style>

{% endblock content %}