{% extends 'base.html' %}

{% block content %}

<div class="col-lg-6 col-md-4 col-sm-4 container justify-content-center">
  <p><br></p>
  <h2 class="text-center">Hasil Pertandingan </h2>
  <h5 class="text-center"><br></h5>
  <h6 class="text-left">Nama Event: Indonesia Open</h6>
  <h6 class="text-left">Stadium: GBK</h6>
  <h6 class="text-left">Hadiah: 1000</h6>
  <h6 class="text-left">Kategori Superseries: S750</h6>
  <h6 class="text-left">Tanggal Mulai: 2020-06-08</h6>
  <h6 class="text-left">Tanggal Selesai: 2020-07-01</h6>
  <h6 class="text-left">Kapasitas: 16</h6>
  <h5 class="text-center"><br></h5>
  <p></p>
</div>

<div class="col-lg-6 col-md-4 col-sm-4 container justify-content-center">
  <table class="table table-bordered">
      <thead>
          <tr>
              <th scope="col">Tahap</th>
              <th scope="col">Nama Tim</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Juara 1</td>
              <td>Susi</td>
          </tr>
          <tr>
            <td>Juara 2</td>
            <td>Johan</td>
          </tr>
          <tr>
            <td>Juara 3</td>
            <td>Liem</td>
          </tr>
          <tr>
            <td>Semifinal</td>
            <td>Taufik & Budi</td>
          </tr>
          <tr>
            <td>Juara 2</td>
            <td>Perempat Final</td>
          </tr>
      </tbody>
  </table>
</div>

<div class="text-center">
<p></p>
<h6></h6>
</div>
{% endblock content %}