{% extends 'base.html'%}
{% load static %}

{% block meta %}
<title>BaBaDu | PELATIH </title>

{% endblock meta %}

{% block content %}

<main>
    <!-- Pills navs -->
    <div class="my-5 d-flex justify-content-center align-items-center"  style="background-color: #889eb4; height: 100vh;">
        <div class="container-xl p-5 shadow-sm border rounded-5 border-primary grad">
            <h1 class="text-center mb-4 custom-heading">Riwayat Ujian Kualifikasi</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nama Atlet</th>
                        <th scope="col">Tahun</th>
                        <th scope="col">Batch</th>
                        <th scope="col">Tempat Pelaksanaan</th>
                        <th scope="col">Tanggal Pelaksanaan</th>
                        <th scope="col">Hasil</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider align-middle">
                    {% for riwayat_ujian_kualifikasi_umpire in riwayat_ujian_kualifikasi_umpire %}
                    <tr>
                      <td>{{ riwayat_ujian_kualifikasi_umpire.nama }}</td>
                      <td>{{ riwayat_ujian_kualifikasi_umpire.tahun }}</td>
                      <td>{{ riwayat_ujian_kualifikasi_umpire.batch }}</td>
                      <td>{{ riwayat_ujian_kualifikasi_umpire.tempat }}</td>
                      <td>{{ riwayat_ujian_kualifikasi_umpire.tanggal }}</td>
                      <td>
                        {% if riwayat_ujian_kualifikasi_umpire.hasil_lulus == True %}
                        Lulus
                        {% else %}
                        Tidak Lulus
                        {% endif %}
                      </td>
                    </tr>
                   {% endfor %}
                </tbody>
            </table>
        </div>


    </div>
</main>

<style>
.custom-heading {
  font-size: 30px;
  text-align: center;
  color: black;
}
.table {
    --bs-table-striped-bg: #f2f9f8;

}
</style>
{% endblock content %}