{% extends 'base.html'%}
{% load static %}

{% block meta %}
<title>BaBaDu | PELATIH </title>

{% endblock meta %}

{% block content %}

<main>
    <!-- Pills navs -->
    <div class="my-5 d-flex justify-content-center align-items-center"  style="background-color: #889eb4; height: 100vh;">
        <div class="container-xl p-5 shadow-sm border rounded-5 grad">
            <h1 class="text-center mb-4 custom-heading">Riwayat Ujian Kualifikasi</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" class="form-label">Tahun</th>
                        <th scope="col" class="form-label">Batch</th>
                        <th scope="col" class="form-label">Tempat Pelaksanaan</th>
                        <th scope="col" class="form-label">Tanggal Pelaksanaan</th>
                        <th scope="col" class="form-label">Hasil</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider align-middle">
                    {% for riwayat_ujian_kualifikasi in riwayat_ujian_kualifikasi %}
                    <tr>
                      <td class="form-label">{{ riwayat_ujian_kualifikasi.tahun }}</td>
                      <td class="form-label">{{ riwayat_ujian_kualifikasi.batch }}</td>
                      <td class="form-label">{{ riwayat_ujian_kualifikasi.tempat }}</td>
                      <td class="form-label">{{ riwayat_ujian_kualifikasi.tanggal }}</td>
                      <td class="form-label">
                        {% if riwayat_ujian_kualifikasi.hasil_lulus == True %}
                        Lulus
                        {% else %}
                        Tidak Lulus
                        {% endif %}
                      </td>
                    </tr>
                   {% endfor %}
                </tbody>
            </table>
        </div>


    </div>
</main>

<style>
    .table {
        --bs-table-striped-bg: #f2f9f8;

    }

    .custom-heading {
  font-size: 30px;
  text-align: center;
  color: rgb(255, 255, 255);
}
.table {
--bs-table-striped-bg: #f2f9f8;

}

.form-label {
    color:white;
}

</style>
{% endblock content %}