{% extends 'base.html'%}
{% load static %}

{% block meta %}
<title>BaBaDu | PELATIH </title>

{% endblock meta %}

{% block content %}

<main>
    <!-- Pills navs -->
    <div class="my-5 d-flex justify-content-center align-items-center">
        <div class="container-xl p-5 shadow-sm border rounded-5 border-primary grad">
            <h1 class="text-center mb-4 text-primary">List Ujian Kualifikasi</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Tahun</th>
                        <th scope="col">Batch</th>
                        <th scope="col">Tempat Pelaksanaan</th>
                        <th scope="col">Tanggal Pelaksanaan</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider align-middle">
                    {% for ujian_kualifikasi in ujian_kualifikasi %}
                    <tr>
                      <td id="tahun-{{forloop.counter}}" >{{ ujian_kualifikasi.tahun }}</td>
                      <td id="batch-{{forloop.counter}}" >{{ ujian_kualifikasi.batch }}</td>
                      <td id="tempat-{{forloop.counter}}" >{{ ujian_kualifikasi.tempat }}</td>
                      <td id="tanggal-{{forloop.counter}}" >{{ ujian_kualifikasi.tanggal }}</td>
                      <td><button class="btn btn-primary" type="Ikuti" ><a id="{{forloop.counter}}" onclick="sendData(this.id)">Ikuti</a></button></td>
                    </tr>
                   {% endfor %}
                </tbody>
            </table>
        </div>


    </div>
</main>

<style>
    .table {
        --bs-table-striped-bg: #f2f9f8;

    }
</style>

<!-- jQuery -->
<script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
></script>

<script>
    function sendData(counter){
        // Retrieve data table
       var tahun = $(`#tahun-${counter}`).text()
       var batch = $(`#batch-${counter}`).text()
       var tempat = $(`#tempat-${counter}`).text()
       var tanggal = $(`#tanggal-${counter}`).text()

       var tesUrl = '{% url "atlet:atlet_ikut_ujian" %}';
       var indexUrl = '{% url "atlet:tes_kualifikasi" %}';

        
        $.ajax({
            method: 'POST',
            url: tesUrl,
            data: {
                tahun: tahun,
                batch: batch,
                tempat: tempat,
                tanggal: tanggal
            },
            success: function(response) {
                window.location.href = indexUrl;
            },
            error: function(response) {
                alert("Lu udah pernah ikut ")
            }
        });
    }
</script>
{% endblock content %}