<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: white;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Babadu</a>
        <div class="navbar-nav">
          <!-- <a class="nav-link" href="#">Dashboard</a>
          <a class="nav-link" href="#">Tes Kualifikasi</a>
          <a class="nav-link" href="#">Daftar Event</a>
          <a class="nav-link" href="#">Enrolled Event</a>
          <a class="nav-link" href="#">Daftar Event</a>
          <a class="nav-link" href="#">Daftar Event</a>
          <a class="nav-link" href="#">Daftar Event</a> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Atlet
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Dashboard</a></li>
              <li><a class="dropdown-item" href="#">Test Kualifikasi</a></li>
              <li><a class="dropdown-item" href="#">Daftar Event</a></li>
              <li><a class="dropdown-item" href="#">Enrolled Event</a></li>
              <li><a class="dropdown-item" href="#">Daftar Event</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Pelatih
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Dashboard</a></li>
              <li><a class="dropdown-item" href="#">Daftar Atlet</a></li>
              <li><a class="dropdown-item" href="#">List Atlet</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Umpire
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Dashboard</a></li>
              <li><a class="dropdown-item" href="#">Daftar Atlet</a></li>
              <li><a class="dropdown-item" href="#">Lihat Event</a></li>
              <li><a class="dropdown-item" href="#">Hasil Pertandingan</a></li>
            </ul>
          </li>

          <li class="btn-dark">
            <a class="nav-link" href="#">Logout</a>
          </li>

        </div>
    </div>
  </nav>