{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>BaBaDu | Pertandingan Juara Tiga</title>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock meta %}

{% block content %}

<p><br></p>
<h2 class="text-center">PERTANDINGAN JUARA TIGA</h2>
<h4 class="text-center">[50:42]</h4>
<h4 class="text-center"><br></h4>
<p></p>

<div class="col-lg-6 col-md-4 col-sm-4 container justify-content-center">
  <table class="table table-bordered">
      <thead>
          <tr>
              <th scope="col">Tim 1</th>
              <th scope="col">Tim 2</th>
              <th scope="col">Skor Tim 1</th>
              <th scope="col">Skor Tim 1</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Liem</td>
              <td>Taufik & Budi</td>
              <td>
                <div class="number-input">
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" ></button>
                  <input class="quantity" min="0" name="quantity" value="0" type="number">
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                </div>
              </td>
              <td>
                <div class="number-input">
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" ></button>
                  <input class="quantity" min="0" name="quantity" value="0" type="number">
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                </div>
              </td>
            </tr>
      </tbody>
  </table>
  <button type="button" class="btn btn-primary">Next</button>
</div>

<div class="text-center">
<p></p>
<h6></h6>
</div>

{% endblock content %}